# Dependencies
backend/node_modules
backend/vendor

# Build artifacts
backend/public/build
backend/public/hot
backend/public/storage

# Environment
.env
.env.backup
.env.production

# IDE
.idea
.vscode
.fleet

# OS
.DS_Store
Thumbs.db

# Laravel
backend/storage/*.key
backend/.phpunit.cache
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json

# Logs
npm-debug.log
yarn-error.log

# Exclude specific files from repo root
